{{!-- profile page content --}}
<div id="welcome"><h2>Welcome, {{user.name}}!</h2></div>
<div class="home-row">
<div class="column">

  <section id="accomplishments">
    <div><h2>Accomplishments</h2></div>
     <ul>
        <li>Exercises Completed: </li>
        <li>Goals Met: </li>
        <li>Est. Calories Burnt: </li>
     </ul>
  </section>

<section id="goals">
    <h2>Goals</h2>
    <button>Set a Goal</button>
    {{#each goal as |goal| }}
    <div>
        <h3>{{goal.goal}}</h3>
    </div>
    <div>
      <button>Mark as Complete</button>
    </div>
    {{/each}}
</section>
</div>
<div class="column">
<section id="exercises">
    <h2>Scheduled Exercises</h2>
    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Add to Schedule</button>
    {{!-- Add a scroll list with sections that display Date, Time, and exercise title with a button to mark complete for each scheduled exercise--}}
    {{#each scheduledExercise as |scheduledExercise| }}
    <div class="sched">
      <div>
        <h3>{{scheduledExercise.date}}</h3>
      </div>
      <div>
        <h3>{{scheduledExercise.time}}</h4>
        <h4>{{scheduledExercise.duration}}</h4>
      </div>
      <div>
      <h3>{{scheduledExercise.title}}</h3>
      </div>
      <div>
      <button id="scheduleButton">Mark as Complete</button>
      </div>
    </div>
    {{/each}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Schedule an Exercise</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        {{#each exercises as |exercise|}}
        <button>
          {{exercise.exercise_name}}
        </button>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</section>
</div>
</div>
<script src="/js/homepage.js"></script>