{{!-- profile page content --}}
<div id="welcome"><h2>Welcome, {{user.name}}!</h2></div>
<div class="home-row">
<div class="column">

  <section id="accomplishments">
    <div><h2>Accomplishments</h2></div>
     <ul>
        <li>Exercises Completed: </li>
        <li>Goals Met: </li>
        <li>Est. Calories Burnt: </li>
     </ul>
  </section>

<section id="goals">
    <h2>Goals</h2>
    <div class="cardbutton-div">
      <button>Set a Goal</button>
    </div>
    <div class="goal">
    {{!-- {{#each goal as |goal| }} --}}
      <div class="goal-item">
        <h3>{{goal.text}} Go running Tomorrow</h3>
      </div>
      <div> 
        <button>Mark as Complete</button>
      </div>
    {{!-- {{/each}} --}}
    </div>
</section>
</div>

<div class="column">
<section id="exercises">

    <h2>Scheduled Exercises</h2>

    <div class="cardbutton-div">
      <button data-bs-toggle="modal" data-bs-target="#exampleModal">Add to Schedule</button>
    </div>

    <div class="sched">
      {{!-- Display data from User's Schedule db--}}
        {{!-- IMPORTANT: UNCOMMENT  {{#each scheduledExercise as |scheduledExercise| }} --}}
      {{!-- {{#each scheduledExercise as |scheduledExercise| }} --}}
      <div class="sched-section">
        <h3>{{schedule.date}} Tomorrow</h3>
      </div>

      <div class="sched-section">
        <h3>{{schedule.time}} 3:00 PM</h4>
        <h3>{{schedule.duration}} 30 min</h4>
      </div>

      <div class="sched-section">
        <h3 id="exercise-title">{{schedule.title}} Go Jogging</h3>
      </div>

      <div class="sched-section">
        <button id="schedule-completeButton">Mark as Complete</button>
      </div>
    {{!-- {{/each}} --}}
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ModalLabel">Schedule an Exercise</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        {{#each exercises as |exercise|}}
        <button class ="exercise-listbtn">
          {{exercise.exercise_name}}
        </button>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="modal-SaveBtn" type="button" class="btn btn-primary">Save Exercise</button>
      </div>
    </div>
  </div>
</div>

</section>
</div>
</div>
<script src="/js/homepage.js"></script>