{{!-- profile page content --}}
<div id="welcome"><h2>Welcome, {{user.name}}!</h2></div>
<div class="home-row">
  <div class="column">

  <section  id="accomplishments">
    <div><h2>Accomplishments</h2></div>
     <ul>
        <li>Exercises Completed: </li>
        <li>Goals Met: </li>
        <li>Est. Calories Burnt: </li>
     </ul>
  </section>

  <section id="goals">
    <h2>Goals</h2>
    <button>Set a Goal</button>
    {{#each goal as |goal| }}
    <div>
        <h3>{{goal.goal}}</h3>
    </div>
    <div>
      <button>Mark as Complete</button>
    </div>
    {{/each}}
  </section>
  </div>

  <div class="column">
  <section id="exercises">
    <h2>Scheduled Exercises</h2>
    <button>Add to Schedule</button>
    {{!-- Add a scroll list with sections that display Date, Time, and exercise title with a button to mark complete for each scheduled exercise--}}
    {{#each scheduledExercise as |scheduledExercise| }}
    <div class="sched">
      <div>
        <h3>{{scheduledExercise.date}}</h3>
      </div>
      <div>
        <h3>{{scheduledExercise.time}}</h4>
        <h4>{{scheduledExercise.duration}}</h4>
      </div>
      <div>
      <h3>{{scheduledExercise.title}}</h3>
      </div>
      <div>
      <button>Mark as Complete</button>
      </div>
    </div>
    {{/each}}
  </section>
  </div>
</div>